# Determine size of a file or total size of a directory
function fs() {
    if du -b /dev/null > /dev/null 2>&1; then
        local arg=-sbh
    else
        local arg=-sh
    fi
    if [[ -n "$@" ]]; then
        du $arg -- "$@"
    else
        du $arg .[^.]* *
    fi
}

# Pretty-printers for man pages
manp()
{
    man -t "${1}" | open -f -a Skim
}
mantest()
{
    # (cd /usr/share/man && (/usr/bin/gunzip -c `man -w ${1}` 2>/dev/null || cat `man -w ${1}`) | /usr/bin/tbl | /usr/bin/groff -Tps -dpaper=letter -P-p10.5i,8i -mandoc -c) | open -f -a Skim
    (cd /usr/share/man && (/usr/bin/gunzip -c `man -w ${1}` 2>/dev/null || cat `man -w ${1}`) | /usr/bin/tbl | /usr/bin/groff -Thtml -mandoc -c)
}

# Jumping to location of frontmost Finder window
cdf() {
    target=`osascript -e 'tell application "Finder" to if (count of Finder windows) > 0 then get POSIX path of (target of front Finder window as text)'`
    if [ "$target" != "" ]; then
        cd "$target"; pwd
    else
        echo 'No Finder window found' >&2
    fi
}
alias f='open -a Finder ./'
